.cart {
    background-color: #a3a3a3;
    width: 22%;
    height: 720px;
    padding: 10px;
    border-radius: 5px;
}

.cartItem img {
    width: 40%;
    height: 100px;
    object-fit: contain;
}

.cartItem {
    display: flex;
    align-items: center;
    margin: 4px 0px 4px 0px;
}

.itemInfo {
    width: 160px;
}

.cart h2 {
    text-align: center;
}

.itemUtility {
    width: 80px;
    margin: 0 auto;
}

.itemUtility button {
    width: 25px;
}

.itemQuantity {
    margin: 0px 3px 0px 3px;
}

.itemList {
    background-color: #959595;
    height: 530px;
    overflow: scroll;
}

.checkoutButton {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 40px;
    border-style: none;
    border-radius: 5px;
    background-color: #ee4d2d;
    cursor: pointer;
    color: white;
    font-size: 24px;
}

.checkoutButton:hover {
    background-color: #f76c50;
}

.emptyCart {
    text-align: center;
    font-size: 30px;
}