.cart {
    border: 1px solid;
    width: 22%;
}

.cartItem img {
    width: 40%;
    height: 100px;
    object-fit: contain;
}

.cartItem {
    display: flex;
    align-items: center;
    margin: 4px 0px 4px 0px;
}

.itemInfo {
    width: 160px;
}

.cart h2 {
    text-align: center;
}

.itemUtility {
    width: 80px;
    margin: 0 auto;
}

.itemUtility button {
    width: 25px;
}

.itemQuantity {
    margin: 0px 3px 0px 3px;
}