.cardDiv {
    width: fit-content;
    background-color: #1E1E1E;
    border-radius: 5px;
    margin: 3px;
}

.cardDiv:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.productsDiv {
    display: flex;
    width: 78%;
    flex-wrap: wrap;
}

.mainDiv {
    display: flex;
}

.cartDiv {
    width: 15%;
    border: 1px solid red;
}