.cardDiv {
    width: fit-content;
    background-color: #1E1E1E;
    border-radius: 5px;
    margin: 3px;
}

.cardDiv:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.productsDiv {
    display: flex;
    width: 78%;
    flex-wrap: wrap;
}

.mainDiv {
    display: flex;
}

.cartDiv {
    width: 15%;
    border: 1px solid red;
}


.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;

    margin: 100px auto;
    display: block;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}