.cardDiv {
    width: fit-content;
}

.productsDiv {
    display: flex;
    width: 78%;
    flex-wrap: wrap;
}

.mainDiv {
    display: flex;
}

.cartDiv {
    width: 20%;
    border: 1px solid red;
}