.card {
    width: 350px;
    height: 450px;
    display: flex;
    flex-direction: column;
    margin: 5px;
    border-radius: 5px;
}

.productImage img {
    width: 100%;
    height: 328px;
    flex-shrink: 0;
    margin: 0 auto;
    object-fit: contain;
    background-color: rgba(255, 255, 255, 0.689);
    border-radius: 3px;
}

.namePrice {
    display: flex;
    padding: 10px;
    height: 98px;
    text-align: justify;
    flex-shrink: 0;
    border-radius: 0 0 3 3;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.productPrice {
    margin: 0;
}

.productTitle {
    width: 100%;
    margin: 0;
}

.addToCartButton {
    width: 120px;
    height: 32px;
    border-style: none;
    border-radius: 5px;
    background-color: #ff5837;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.962);
}

.addToCartButton:hover {
    background-color: #ffa391;
    color: black;
}