.card {
    border: 1px solid;
    width: 350px;
    height: 450px;
    display: flex;
    flex-direction: column;
    margin: 5px;
    border-radius: 5px;
}

.productImage {
    width: 100%;
    height: 328px;
    flex-shrink: 0;
    margin: 0 auto;
}

.productImage img {
    object-fit: contain;
}

.namePrice {
    padding: 10px;
    text-align: justify;
    flex-shrink: 0;
    border-radius: 0 0 3 3;
    overflow: hidden;
}

.productPrice {
    margin: 0;
}

.productTitle {
    margin: 0;
}